@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Система контролю зоомазинів</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Вітаємо у системі контролю зоомазинів</h2>
        <p>
            Система контролю зоомагазинів-спрощена модель бізнес-програми, що призначена для отримання повного доступу до інформації про тварин та магазини
        </p>
    </div>
</div>
